# Add the following to your gitignore:

# Instance Sync
**/*.jar
!non_curse_mods/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

# Optional: Generic Modpack Ignores
**/*.log
/.mixin.out
usercache.json
usernamecache.json
/saves
/downloads
/resourcepacks
.curseclient
options.txt
config.json
natives/
.DS_Store
logs/
crash-reports/
journeymap/
